SERVER_PORT=1234
SERVER_URL=http://127.0.0.1:1234
CLIENT_URL=http://127.0.0.1:2345
COOKIE_DOMAIN=127.0.0.1

MONGODB_URL=mongodb://database:port/space2study

# Superuser credentials that backend automatically creates in Database
MAIL_FIRSTNAME=Space2Study
MAIL_LASTNAME=Support
MAIL_USER=your_email@example.com
MAIL_PASS=your_email_password_or_app_password

GMAIL_CLIENT_ID=your_gmail_client_id
GMAIL_CLIENT_SECRET=your_gmail_client_secret
GMAIL_REFRESH_TOKEN=your_gmail_refresh_token
GMAIL_REDIRECT_URI=https://yourapp.com/oauth2callback

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
JWT_RESET_SECRET=
JWT_RESET_EXPIRES_IN=1h
JWT_CONFIRM_SECRET=
JWT_CONFIRM_EXPIRES_IN=1h