mail_firstname: "your_name"
mail_lastname: "your_last_name"
mail_user: "your_email"
mail_pass: "your_password"

jwt_access_secret: "access_secret"
jwt_refresh_secret: "refresh_secret"
jwt_reset_secret: "reset_secret"
jwt_confirm_secret: "confirm_secret"