SERVER_PORT={{ server_port }}
SERVER_URL={{ server_url }}
COOKIE_DOMAIN={{ cookie_domain }}
MONGODB_URL={{ mongodb_url }}
CLIENT_URL={{ client_url }}

MAIL_FIRSTNAME={{ mail_firstname }}
MAIL_LASTNAME={{ mail_lastname }}
MAIL_USER={{ mail_user }}
MAIL_PASS={{ mail_pass }}

JWT_ACCESS_SECRET={{ jwt_access_secret }}
JWT_ACCESS_EXPIRES_IN={{ jwt_access_expires_in }}
JWT_REFRESH_SECRET={{ jwt_refresh_secret }}
JWT_REFRESH_EXPIRES_IN={{ jwt_refresh_expires_in }}
JWT_RESET_SECRET={{ jwt_reset_secret }}
JWT_RESET_EXPIRES_IN={{ jwt_reset_expires_in }}
JWT_CONFIRM_SECRET={{ jwt_confirm_secret }}
JWT_CONFIRM_EXPIRES_IN={{ jwt_confirm_expires_in }}